[Unit]
Description=Disable WiFi power management
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/sbin/iwconfig WIFI_INTERFACE_PLACEHOLDER power off

[Install]
WantedBy=multi-user.target
